<h2 class="form-title title-eve">Detalle Eventos</h2>
<br><br>

<div class="rela-block container container-eve">
  <div class="rela-block event-card">
    <div id="profile_pic">


      <% if(!user){ %>
        <img class="profile-pic event-pic-size" src="/uploads/<%= event.imgUrl %>" width="150px" height="150px">
        <h3><%= event.eventName %></h3>
        <% }else{ %>
          <% if(event.imgUrl != 'uploads/default-profile.jpg') {%>
            <img class="profile-pic event-pic-size" src="/uploads/<%= event.imgUrl %>" width="150px" height="150px">

            <%}else{%>
              <img class="profile-pic event-pic-size" src="/uploads/<%= event.imgUrl %>" width="150px" height="150px">

              <%}%>
                <div class="rela-block profile-name-container">
                  <div class="rela-block user-name">
                    <h3><%= event.eventName %></h3></div>
                  <div class="rela-block user-desc">
                    <p>
                      <%= event.date %>
                    </p>
                  </div>
                </div>
                <div class="rela-block profile-name-container">
                  <div class="rela-block user-desc">
                    <p>Descripción:
                      <%= event.description %>
                    </p>
                  </div>
                  <div class="rela-block user-desc">
                    <p>Creado por:
                      <%= event.creator.name %>
                    </p>
                  </div>
                  <% if (user._id.equals(event.creator._id)) {%>
                    <a href="/events/<%= event._id %>/edit/">Edit Event</a>
                    <form action="/events/<%= event._id %>/delete" method="POST">
                      <button type="submit">Borrar Evento</button>
                    </form>
                    <% } %>
                      <br>
                      <form action="/events/join/<%= event._id %>" method="POST">
                        <button type="submit" class="btn btn-lg btn-info btn-sm">ME APUNTO AL EVENTO</button>
                      </form>

                      <div id="map" class="mapa-detalle"></div>


                      <% } %>

                        <script type="text/javascript">
                          var mapevent = <%- JSON.stringify(event) %>;
                        </script>

                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcrn9FTK0uiQlttKlDCZ14IThSMc1007E&libraries=places&callback=initMap"></script>
                        <script type="text/javascript" src="/js/map-detail.js"></script>
