<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">Edita tu evento</p>

        <form action="/events/<%= event._id %>/edit/event" method="POST" class="edit-event" enctype="multipart/form-data">

          <input id="eventName" type="text" name="eventName" value="<%= event.eventName %>">
          <input id="date" type="date" name="date" value="<%= event.date %>">
          <input id="description" type="text" name="description" value="<%= event.description %>">
          <input id="website" type="text" name="website" value="<%= event.website %>">
          <input type="text" name="place" id="place" value="<%= event.place %>" </input>
          <input type="file" name="imgUrl" id="image-events" value="<%= event.imgUrl %>">
          <input id="lat" name="lat" style="visibility:hidden" value="<%= event.lat %>">
          <input id="log" name="log" style="visibility:hidden" value="<%= event.log %>">
          <input id="imgUrl" name="imgUrl" style="visibility:hidden" value="<%= event.imgUrl %>">
          <%- include('../partials/map-home') %>
            <input type="submit" value="Editar Evento" class="btn btn-lg btn-info btn-sm" />
            <br><br>
        </form>
      </div>
    </div>
  </div>
</div>
