<h2>Trae tus zapas! Los Runners te esperan :)</h2>
<% if(!user){ %>
<ul>
  <% events.forEach((event) => { %>
    <li>
      <img src="/<%= event.imgUrl %>" width="150" height="150">
      <h3><%= event.name %></h3>
      <h4><%= event.date %></h4>
      <p><%= event.description %></p>
      <a href="/events/<%= event._id %>">View Details</a>
    </li>
<% }) %>
</ul>

<% }else{ %>
<a href="/events/create"><button type="button" name="button">Create Event</button></a>
<br><br>
  <ul>
    <% events.forEach((event) => { %>
      <li>
        <img src="/<%= event.imgUrl %>" width="150" height="150">
        <h3><%= event.name %></h3>
        <h4><%= event.date %></h4>
        <p><%= event.description %></p>
        <a href="/events/<%= event._id %>">View Details</a> | <a href="/events/<%= event._id %>/edit/">Edit Event</a>
        <form action="/events/<%= event._id %>/delete" method="POST">
         <button type="submit">Borrar Evento</button>
       </form>
      </li>
      <br><br>
  <% }) %>
  </ul>

    <% } %>
