<div class="rela-block container">
  <div class="rela-block profile-card">
    <div id="profile_pic">
      <% if(user.imgUrl != 'uploads/default-profile.jpg') {%>
        <img class="profile-pic profile-pic-size" src="uploads/<%= user.imgUrl%>" width="150px" height="150px">
      <%}else{%>
        <img class="profile-pic profile-pic-size" src="<%= user.imgUrl%>" width="150px" height="150px">
      <%}%>
    </div>
    <div class="rela-block profile-name-container">
      <div class="rela-block user-name" id="user_name"><%= user.name %></div>
      <div class="rela-block user-desc" id="user_description"><%= user.city %></div>
    </div>
    <div class="rela-block profile-name-container">
      <div class="rela-block user-name" id="user_name">Mi objetivo :) <%= user.objective %></div>
      <div class="rela-block user-desc" id="user_description">Sobre mi: <%= user.aboutMe %></div>
    </div>
  </div>
  <!-- <div class="rela-block content">
    <div class="rela-inline image"></div>
  </div> -->
  <div class="rela-inline button more-images"><a href="/profile/edit">Editar Perfil</a></div>
</div>
