<body>
  <div id="profile">
  <% if(user.imgUrl != 'uploads/default-profile.jpg') {%>
    <img src="uploads/<%= user.imgUrl%>" width="150px" height="150px">
  <%}else{%>
    <img src="<%= user.imgUrl%>" width="150px" height="150px">
  <%}%>
  <p>Name: <%= user.name %></p>
  <p>Username: <%= user.username %></p>
  <p>My objective is: <%= user.objective %></p>
  <p>About me: <%= user.aboutMe %></p>
  <p>I live in: <%= user.city %></p>
  <br>
  <a href="/profile/edit">Edit Profile</a>


</div>
</body>
