<body>
  <div id="profile">

  <img src="<%= user.imgUrl%>" width="150px" height="150px"/>
  <p>Name: <%= user.name %></p>
  <p>Username: <%= user.username %></p>
  <p>My objective is: <%= user.objectives %></p>
  <p>About me: <%= user.aboutMe %></p>
  <p>I live in: <%= user.city %></p>



</div>
</body>
